
body {
    overflow-x: hidden;
}
.bg-banner {
    width: 50vw;
    height: calc(100vh - 60px);
    max-width: 100vw;
}

.bg-blue {
    background: #5497E7;
    height: calc(100vh - 60px);
    position: relative;
}

.bg-blues {
    background: #5497E7;
}

.bg-blue::before {
    left: -999em;
    background: #5497E7;
    content: '';
    display: block;
    position: absolute;
    width: 999em;
    top: 0;
    bottom: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 1000000;
    top:0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: white !important;
    filter: drop-shadow(0px 4px 4px rgba(145, 145, 145, 0.25));
}

.banner {
    margin-top: 60px;
}

.text-title {
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
}

.text-title h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 140%;
    color: white;
}

.text-title p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: white;
    width: 60%;
}

.btn-lihat {
    height: 60px;
    background: #FFFFFF;
    border-radius: 7px;
    border: none;
    color: #3583DE;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}

.bg-secondary-blue {
    background-color: #F0F7FF;
    padding: 50px;
    width: 100vw !important;
}

.break-section {
    margin-top: 50px;
}

.break-section-lg {
    margin-top: 0px;
    background-color: #F0F7FF;
    padding-top: 5rem;
    padding-left: 0rem;
}

.service {
    text-align: center;
}



.card-box {
    padding-bottom: 20px;
}

.card-box p {
    padding-left: 10px;
    padding-right: 10px;
}

.card-box:hover {
    background: white;
    transform: scale(1.05);
    border: 1px solid #D7D7D7;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    transition: ease-in 0.2s;
}

.btn-lihat {
    width: 186px;
    height: 60px;
    background: #3583DE;
    border-radius: 7px;
    color: white;
    font-weight: bold !important;
}

.bg-white {
    background-color: white !important;
    color: #3583DE;
}

.footers h6 {
    color: white !important;
}
.text-white {
    color: white !important;
}
.i-blue {
    color: white !important;
}
.img-center {
    text-align: center !important;
    margin: 0 auto !important;
}
@media only screen and (max-width: 768px){
    .bg-banner {
        width: 100%;
        object-fit: cover;
    }
    .mt-4-xs {
        margin-top: 20px;
    }
}